<template>
    <div id="app" class="login">
        <div class="file-upload-form">
            <input type="file" accept="image/*" @change="onImageSelected">
        </div>
        <div class="btn_box">
            <p><input type="button" value="上傳" @click="uploadImage"></p>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Test.vue",
        data() {
            return {
                file: '',
                imagePreview: "",
                newsImage: null,
                newsPreview: "",
            }
        },
        methods: {
            onImageSelected(e) {
                let self = this;
                this.onFileChange(e);
                setTimeout(function () {
                    self.newsImage = self.file;
                    self.newsPreview = self.imagePreview;
                }, 100);
            },
            onFileChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                let file = files[0];
                let self = this;
                let reader = new FileReader();
                this.file = "";
                this.imagePreview = "";

                // 預防檔案為空檔
                if (!files.length) {
                    return;
                }
                reader.readAsDataURL(file);
                reader.onload = function () {
                    self.imagePreview = this.result;
                };
                this.file = file
            },
            uploadImage() {
                if (this.newsImage != null) {
                    //普通上傳圖片
                   this.$http.fetchUpload`${{
                        "file": this.newsImage,
                        "folder": "/test"
                    }}
                     ${json => {
                       console.log(json)
                    }}`;

                   //獲取圖片的壓縮後的base64
                    this.$http.fetchUploadWithBase`${{
                        "file": [this.newsImage,this.newsImage],
                        "folder": "/real_name"
                    }}
                    ${json => {
                        console.log(json.data[0])
                        console.log(json.data[1])
                    }}`;

                }
            }
        }
    }
</script>

<style scoped>

</style>

