<template>
    <table class="w-100">
        <tr>
            <td class="timeTd"><div class="littleBox">{{ contdownDays }}</div></td>
            <td>：</td>
            <td class="timeTd"><div class="littleBox">{{ contdownHours }}</div></td>
            <td>：</td>
            <td class="timeTd"><div class="littleBox">{{ contdownMinutes }}</div></td>
            <td>：</td>
            <td class="timeTd"><div class="littleBox">{{ contdownSeconds }}</div></td>
        </tr>
        <tr>
            <td>天</td>
            <td></td>
            <td>時</td>
            <td></td>
            <td>分</td>
            <td></td>
            <td>秒</td>
        </tr>
    </table>
</template>
<script>
    export default {
        name:'countdown',
        props: ['starttime', 'endtime', 'trans'],
        data: function () {
            return {
                timer: "",
                wordString: {},
                start: "",
                end: "",
                interval: "",
                contdownDays: "",
                contdownMinutes: "",
                contdownHours: "",
                contdownSeconds: "",
                message: "",
                statusType: "",
                statusText: "",

            };
        },
        created: function () {
            this.wordString = JSON.parse(this.trans);
        },
        mounted() {
            this.start = new Date(this.starttime).getTime();
            this.end = new Date(this.endtime).getTime();
            // Update the count down every 1 second
            this.timerCount(this.start, this.end);
            this.interval = setInterval(() => {
                this.timerCount(this.start, this.end);
            }, 1000);
        },
        methods: {
            timerCount: function (start, end) {
                // Get tocontdownDays date and time
                var now = new Date().getTime();

                // Find the distance between now an the count down date
                var distance = start - now;
                var passTime = end - now;

                if (distance < 0 && passTime < 0) {
                    this.message = this.wordString.expired;
                    this.statusType = "expired";
                    this.statusText = this.wordString.status.expired;
                    clearInterval(this.interval);

                } else if (distance < 0 && passTime > 0) {
                    this.calcTime(passTime);
                    this.message = this.wordString.running;
                    this.statusType = "running";
                    this.statusText = this.wordString.status.running;

                } else if (distance > 0 && passTime > 0) {
                    this.calcTime(distance);
                    this.message = this.wordString.upcoming;
                    this.statusType = "upcoming";
                    this.statusText = this.wordString.status.upcoming;
                }
            },
            calcTime: function (dist) {
                // Time calculations for contdownDays, contdownHours, contdownMinutes and contdownSeconds
                this.contdownDays = Math.floor(dist / (1000 * 60 * 60 * 24));
                this.contdownHours = Math.floor((dist % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                this.contdownMinutes = Math.floor((dist % (1000 * 60 * 60)) / (1000 * 60));
                this.contdownSeconds = Math.floor((dist % (1000 * 60)) / 1000);
            }
        },watch:{
            endtime(){
                this.end = new Date(this.endtime).getTime();
            }
        }
    }

</script>
