<template>
    <div class="footerMenu">
        <ul>
            <router-link :to="{ name: 'Home'}"><li><img :src="isHome? require('@/assets/images/menu-icon-homeCur.svg') : require('@/assets/images/menu-icon-home.svg')"></li></router-link>
            <router-link :to="{ name: 'Wallet'}"><li><img :src="isWallet? require('@/assets/images/menu-icon-walletCur.svg') : require('@/assets/images/menu-icon-wallet.svg')"></li></router-link>
            <div @click="unopened"><li><img :src="isEcology? require('@/assets/images/menu-icon-space.svg') : require('@/assets/images/menu-icon-space.svg')"></li></div>
            <router-link :to="{ name: 'Talk'}"><li><img :src="isTalk? require('@/assets/images/menu-icon-talkCur.svg') : require('@/assets/images/menu-icon-talk.svg')"></li></router-link>
            <router-link :to="{ name: 'MyPage'}"><li><img :src="isMyPage? require('@/assets/images/menu-icon-myCur.svg') : require('@/assets/images/menu-icon-my.svg')"></li></router-link>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "footMenu",
        props: {
            isHome: Boolean,
            isWallet: Boolean,
            isTalk: Boolean,
            isEcology: Boolean,
            isMyPage: Boolean,
        },
        data() {
            return {

            }
        },methods:{
            unopened:function() {
                this.$message.closeAll();
                this.$message({
                    type: 'warning',
                    message: '即將開放敬請期待',
                    duration: 2000,
                })
                return
            }
        }
    }
</script>

<style scoped>

</style>
