<template>
    <div class="topBar">
        <button @click="goBack" v-if="showArrow"><img :src="require('@/assets/images/back.svg')"></button>
        <router-link to="/add-friend-wallet" tag="button" style="color: white;
    position: absolute;
    right: 2rem;" >
            <small>交易明細</small>
        </router-link>
    </div>
</template>

<script>

    export default {
        name: 'NavigationBarWallet',
        props: {
            title: String,
            showArrow: Boolean,
        },
        data () {
            return {

            }
        },
        created: function () {

        },
        mounted: function () {

        },
        methods: {
            goBack: function () {
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>

</style>