<template>
    <div class="topBar">

        <button @click="goBack" v-if="showArrow"><img :src="require('@/assets/images/back.svg')"></button>
        <!--設置安全碼回上層-->
        <router-link to="/my-page"><button v-if="showBackMyPage"><img :src="require('@/assets/images/back.svg')"></button></router-link>
        <!--管理好友錢包-新增-->
        <router-link to="/add-friend-wallet" tag="button" style="color: white; position: absolute; right: 25px;" v-if="showAdd"><img :src="require('@/assets/images/icon-add.svg')" style="height: 1.2rem; width: 1.2rem;"></router-link>
        <!--交易中心-搜尋條件-->
        <button @click="callChildFunc()" v-b-modal.modal1 style="color: white; position: absolute; right: 4rem;" v-if="showScan"><img :src="require('@/assets/images/icon-search.svg')" style="height: 1.2rem; width: 1.2rem;"></button>
        <!--交易紀錄-搜尋條件-->
        <button v-b-modal.modal2 style="color: white; position: absolute; right: 4rem;" v-if="showScan2"><img :src="require('@/assets/images/icon-search.svg')" style="height: 1.2rem; width: 1.2rem;"></button>
        <!--交易中心-申訴-->
        <button id="appealPage" style="color: white; position: absolute; right: 2rem;" v-if="showAppeal"><small>申訴</small></button>
        <!---申訴-返回上一頁面-->
        <button @click="goBackTradeRecord" v-if="showAppealArrow"><img :src="require('@/assets/images/back.svg')"></button>
        <!--交易中心-詳細紀錄-->
        <button @click="goBackTradeRecord" v-if="showBackLog"><img :src="require('@/assets/images/back.svg')"></button>
        <!--交易中心-紀錄-->
        <button @click="goBackHome" v-if="showBackLog2"><img :src="require('@/assets/images/back.svg')"></button>
        <!--篩選-->
        <button  v-b-modal.sortModal style="color: white; position: absolute; right: 25px;" v-if="showSort"><img :src="require('@/assets/images/icon-filter.svg')" style="height: 1.2rem; width: 1.2rem;"></button>
        <!--<button @click="unopened"  style="color: white; position: absolute; right: 25px;" v-if="showSort"><img :src="require('@/assets/images/icon-filter.svg')" style="height: 1.2rem; width: 1.2rem;"></button>-->



        <!--錢包-一般MYT-交易明細-->
        <router-link to="/ete-transDetail" tag="button" style="color: white; position: absolute; right: 2rem;" v-if="showTransETE"><small>交易明細</small></router-link>
        <!--錢包-一般MYC-交易明細-->
        <router-link to="/usdt-transdetail" tag="button" style="color: white; position: absolute; right: 2rem;" v-if="showTransMYC"><small>交易明細</small></router-link>
        <!--快速兌換-交易明細-->
        <router-link to="/quick-trans-detail" tag="button" style="color: white; position: absolute; right: 2rem;" v-if="showTransQuick"><small>交易明細</small></router-link>
        <!--我的合約-交易明細-->
        <router-link to="/contract-details" tag="button" style="color: white; position: absolute; right: 2rem;" v-if="showContractDetails"><small>查看明細</small></router-link>
        <!--我的合約-交易明細-內頁篩選-->
        <button v-b-modal.modalContract style="color: white; position: absolute; right: 24px;" v-if="showModalContract"><img :src="require('@/assets/images/icon-detailscreening.svg')" style="height: 1.2rem; width: 1.2rem;"></button>

    </div>
</template>

<script>

    export default {
        name: 'NavigationBar',
        props: {
            title: String,
            showArrow: Boolean,
            showBackMyPage: Boolean,
            showAdd: Boolean,
            showScan: Boolean,
            showScan2: Boolean,
            showAppeal: Boolean,
            showAd: Boolean,
            showSort: Boolean,
            showTransETE: Boolean,
            showTransMYC: Boolean,
            showTransQuick: Boolean,
            showBackLog: Boolean,
            showBackLog2:Boolean,
            showAppealArrow:Boolean,
            showContractDetails:Boolean,
            showModalContract:Boolean
        },
        data () {
            return {

            }
        },
        created: function () {

        },
        mounted: function () {

        },
        methods: {
            goBack: function () {
                this.$router.go(-1);
            },
            unopened: function () {
                this.$message({
                    type: 'warning',
                    message: '尚未开放',
                    duration: 2000,
                })
                return
            },
            goBackTradeRecord:function () {
                this.$router.push({name: 'TradeRecord'});
            },
            goBackHome:function () {
                this.$router.push({name: 'Home'});
            },callChildFunc(){
                this.$emit('search-event')
            }
        }
    }
</script>

<style scoped>

</style>
