<template>
    <div class="topBar">
        <button @click="goBack" v-if="showArrow"><img :src="require('@/assets/images/back.svg')"></button>
        <router-link to="/add-friend-wallet" tag="button" style="color: white;
    position: absolute;
    right: 2rem;" >
            <img :src="require('@/assets/images/icon-add.svg')" style="height: 1.2rem; width: 1.2rem;"></router-link>
        <router-link to="/add-friend-wallet" tag="button" style="color: white;
    position: absolute;
    right: 2rem;" >
            <img :src="require('@/assets/images/icon-add.svg')" style="height: 1.2rem; width: 1.2rem;"></router-link>
    </div>
</template>

<script>

    export default {
        name: 'NavigationBarAdd',
        props: {
            title: String,
            showArrow: Boolean,
        },
        data () {
            return {

            }
        },
        created: function () {

        },
        mounted: function () {

        },
        methods: {
            goBack: function () {
                this.$router.go(-1);
            }
        }
    }
</script>

<style scoped>

</style>