<template>
    <div class="PromptSetting">
        <b-modal ref="myModalPrompt" id="PromptSettingModal" centered hide-footer title=" ">
            <div class="d-block text-center">
                <img style="height: 3rem" src="../assets/images/icon-notice-g.svg"><br><br>
                您尚未完成安全防护码设置，是否现在去设置？
            </div>
            <div class="row">
                <div class="col-6">
                    <b-button class="mt-3" variant="secondary" block @click="hideModal">取消</b-button>
                </div>
                <div class="col-6">
                    <b-button class="mt-3" variant="warning" block @click="delConfirm">確認</b-button>
                </div>
            </div>
        </b-modal>
    </div>
</template>

<script>
    export default {
        name: "PromptSetting",

        data() {
            return {

            }
        }
    }
</script>

<style scoped>

</style>