/*color*/
:root{
    --main-word-color: #fff;
    --sub-word-color: #D49400;
    --word-color: #ccc;
    --type2-word-color: #666;
    --type3-word-color: #999;
    --main-btn-color: rgba(212, 148, 0, 0.9);
    --in-color: #6ED1AF;
    --out-color: #F6697D;
}
a{
    color:  var(--main-word-color);
    text-decoration: none;
}
a, a:hover, a:active{
    text-decoration: none;
}
.AppType2 a{
    color: #666;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
button:active{
    opacity: .8;
}


/*html { height: 100%; overflow:auto; }*/
/*body { height: 100%; }*/
/*#app, #app-layout{*/
   /*!*min-height: 100vh;*!*/
    /*overflow: hidden;*/
    /*font-size: 1rem;*/
    /*font-family: Quicksand-Light, 微軟正黑體, sans-serif;*/
    /*color:  var(--main-word-color);*/
    /*height: 100%;*/
/*}*/




#app, #app-layout{
    min-height: 100vh;
    overflow: hidden;
    font-size: 1rem;
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
    color:  var(--main-word-color);
}

#app.login, #app-layout{
    background-image: url(../../images/bg.svg);
    background-size: cover;
    padding-top: constant(safe-area-inset-top); /* 兼容 iOS < 11.2 */
    padding-padding-top: env(safe-area-inset-top); /* 兼容 iOS >= 11.2 */
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}
body{background-color: transparent;}
#app-layout.active{
    background-image: none;
    background-color: transparent;
}
#app-layout.active .AppType2.container{
    background: transparent;
    /*background-image: none;*/
}
.container{
    /*height: calc(100vh - 60px);*/
    height:100vh;
    padding: 5.5rem 1.5rem 60px 1.5rem;
    overflow-y: scroll;
}
.invite.container{
    padding: 2.5rem 1.5rem 0 1.5rem;
}
.container .btn a{
    color:  var(--main-word-color);
}
.noFoot.container{
    /*background-image: url(../../images/bg2.svg);*/
    background-size: 100% auto;
    background-position: top;
}
.noFoot.container, .home.container{
    height: 100vh;
}
.home.container{
    padding: 0 25px 70px 25px;
}
.noFoot .footerMenu{
    display: none;
}

.el-dropdown-menu__item{
    font-family: Quicksand-Light, 微軟正黑體, sans-serif;
}

/*回上頁*/
.topBar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 15;
}

.topBar input[type="button"], .topBar button{
    background: transparent;
    border: 0;
    padding: 2.5rem 0 0 25px;
    float: left;
}

.topBar input[type="button"], .topBar button:first-child{
    background: transparent;
    border: 0;
    padding: 40px 16px 0 25px;
    float: left;
    outline: 0;
}

.noBack img#back{
    display: none;
}

/*------------上面bar深 下方內容淺灰樣式------------*/
.AppType2.container{
    background-color: #f0f0f0;
    color: #333333;
    height: 100vh;
}
.AppType2.container .title{
    background-image: url("../../images/main-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 102vw;
    margin-left: -1vw;
}
/*-----------input form------------*/
form label {
    font-size: 0.9rem;
}
.AppType2 form .form-control{
    border: 1px solid #DDDDDD;
    min-height: 3rem;
    height: 3rem;
background: #ffffff !important;
}
.AppType2 .form-control[readonly]{
    background-color: transparent;
}
.AppType2 form .form-control::placeholder{
    color: #999999;
}

.AppType2 form .bottomButtonList{
    text-align: center;
    margin: 2rem 0;
}
.AppType2 form .bottomButtonList .btn {
    color: #ffffff;
    border-radius: 1.5rem;
    padding: 0.5rem 2rem;
    margin: 0 1rem;
}
.AppType2 form button.btn-primary{
    background: #2D5187;
    border-color: #2D5187;
}
.AppType2 form button.btn-warning{
    background: var(--sub-word-color);
    border-color: var(--sub-word-color);

}
button.btn-warning{
    border-radius: 99rem;
}

.searchInputBox .el-input__inner, .searchInputBox .el-input__inner:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;

}
.searchInputBox .el-input__inner{
    border-radius: 5px;
    box-shadow:0px 0px 4px 2px rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}
.searchInputBox .el-input__inner:hover{
    box-shadow:0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}
/*-----------modal------------*/
.modal-header{
    background: var(--sub-word-color);
    border-radius: 0;
    color: #ffffff;
}
.modal-body{
    color: #333333;
    padding: 2.5rem 10vw 2rem;
}
.modal-content{
    border-radius: 0 0 0.5rem 0.5rem;
}
.modal-body .btn-warning{
    background: var(--sub-word-color);
    border-color: var(--sub-word-color);
    color: #ffffff;
}
.modal-body .btn-secondary{
    background: var(--word-color);
    border-color: var(--word-color);
    color: #ffffff;
}
.modal-body .btn{border-radius: 1rem;}
.modal-body .d-block.text-center{
    margin-bottom: 1rem;
}
.modal-body .d-block.text-center .mark{
    color: var(--sub-word-color);
    background: transparent;
}
.modal-content{
    border: none;
}
.modal-body .rating{
    margin: .5rem 0 .8rem 0;
}

.modal-body, .modal-footer{
    background: rgba(240,240,240,0.95);
}

.modal-body .el-radio.is-bordered .el-radio__label{
    width: 250px;
    word-break: break-all;
    white-space: initial;
}
.TransferCurrencyModal .el-radio.is-bordered{
    height: auto;
}
/*管理好友錢包*/  #modal1___BV_modal_outer_{
    z-index: 3000 !important;
}
/*---------dropdown-menu--------*/
.dropdown-menu.show {
    text-align: center;
    min-width: 7rem;
}
/*---------有Tab切換的頁面--------*/
.tabPage .el-tabs__nav.is-top {
    width: 100%;
}
.tabPage .el-tabs--top .el-tabs__item.is-top {
    text-align: center;
}

.tabPage .el-tabs__item.is-active{
    color: var(--sub-word-color);
}
.tabPage .el-tabs__active-bar{
    background-color: var(--sub-word-color);
}
.tabPage .el-tabs__item{
    color: #ffffff;
}
.tabPage .el-tabs__nav-wrap::after {
    background-color: transparent;

}

/*登入-註冊-忘記密碼-重置密碼*/
.login a{
    color: #fff;
}
.login .logo{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.25rem;
    padding: 4rem 0 1rem 0;
    font-weight: 600;

}
.login .top_nav{
    width: 100%;
    padding: 1rem 0 2rem 0;
    margin-bottom: 2rem;
}
.login .top_nav li{
    width: 50%;
    float: left;
    list-style: none;
    color: #fff;
    text-align: center;
}
.login .top_nav li a{
    padding: .5rem .3rem;
}
.login .top_nav li.now a{
    color: #E9B800;
    border-bottom: 1px solid #E9B800;
}
.login .logo img{
    vertical-align: baseline;
    max-height: 50px;
}
.login .textBox{
    width: 100%;
    margin-bottom: 2rem;
}

.login .textBox ul{
    padding: 0 35px;
}
.login .textBox li{
    width: 100%;
    list-style: none;
    margin-bottom: 1rem;
    position: relative;
}
.login .textBox li input, .login .textBox li select{
    padding: 1.5rem 1rem 1.5rem 3rem;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    background-position: 16px center;
    background-repeat: no-repeat;
    font-size: .85rem;
    background-size: 20px 20px;
}
.login .textBox li select{
    padding: 0 1rem 0 3rem;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #ccc;
}
.login .textBox li select:after, .login .textBox li select:before{
    right: 1.2em;
}
.login .textBox li select option{
    background-color: #fff;
    color: #333;
}

.login .textBox li input::placeholder{
    color: rgba(255,255,255,.7);

}
.login .textBox li input.login_id{
    background-image: url("../../images/icon-account.svg");
}
.login .textBox li input.login_pwd, .login .textBox li input.signup_pwd{
    background-image: url("../../images/icon-password.svg");
}
.login .textBox li input.login_pwd2, .login .textBox li input.signup_pwd2{
    background-image: url("../../images/icon-password2.svg");
}
.login .textBox li input.signup_phone{
    background-image: url("../../images/icon-phone.svg");
}
.login .textBox li input.signup_name{
    background-image: url("../../images/icon-account.svg");
}
.login .textBox li input.nickname{
    background-image: url("../../images/icon-nickname.svg");
}
.login .textBox li input.verification{
    background-image: url("../../images/icon-verification.svg");
}
.login .textBox li input.recommend_code{
    background-image: url("../../images/icon-recommend-code.svg");
}
.login .textBox li .signup_native select{
    background-image: url("../../images/icon-native.svg");
}


/*發送驗證碼*/
.login .SendVerification, .mypage .viewpage .userText .SendVerification{
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0;
    background: rgba(255,255,255,0.2);
    border-radius: 2px;
    color: #fff;
    font-size: .7rem;
}
.login .SendVerification:active, .login .SendVerification, .mypage .viewpage .userText .SendVerification{
    background: #1A2447;
    border-radius: 16px;
    border: 1px solid #868cab;
}
.login .btn_box{
    padding-top: 2rem;
    text-align: center;
}
.login .btn_box input[type="button"], .mypage .btn_box input[type="button"]{
    background: #FFC227;
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.50);
    border-radius: 99rem;
    min-width: 200px;
    padding: .5rem 1rem;
    color: #1A2447;
}

.login .btn_box input[type="button"]:active, .mypage .btn_box input[type="button"]:active{
    opacity: .8;
}
.login .btn_box a{
    color: #ffffff;
}

/*footMenu*/
.footerMenu{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    /*border-top: 1px solid rgba(255,255,255,.2);*/
    background: #1f2645;
}
.footerMenu li{
    width: 20%;
    padding: 16px 0;
    float: left;
    text-align: center;
}
.footerMenu li img{
    height: 25px;
}
.footerMenu .router-link-active li{
    background-image: url("../../images/bottomactive5.svg");
    background-size: auto 98%;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    text-align: center;
    color: #fff;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 16px;
    font-size: 120%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    /*background-image: url(../../images/bg.svg);*/
}
.noFoot .title::after {
    content: ' ';
    background: #ffffff;
    display: table;
    height: 2px;
    width: 33px;
    margin: 5px auto;
}
.mainContent{
    width: 100%;
}
.liner{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 50%);
}

/*首頁*/
.homeTop{
    text-align: center;
    padding: 32px 0 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.homeTop img{
    height: 26px;
}
.home .slider{
    width: 100%;
    margin-top: 72px;
}
.home .slider img{
}
.home .slider .carousel-indicators{
    position: relative;
    margin: 0;
}
.home .slider .carousel-indicators .active{
    background-color: var(--sub-word-color);
}
.home .announce{
    padding-left: 2rem;
    height: 34px;
    background: url("../../images/icon_announce.svg") left center no-repeat;
    background-size: 20px;
    margin: 0 0 5px;
    font-size: 75%;
}

.home .announce .scroll-wrap{
    height: 34px;
    overflow: hidden;
}

.home .announce .scroll-content {
    position: relative;
    transition: top 0.5s;
}
.home .announce .scroll-content li{
    line-height: 34px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.2s;
}
.home .idx_buttonList{

}
.home .idx_buttonList li{
    display: inline-block;
    width: 22.75%;
    margin-right: 3%;
    padding: 12.8px 0;
    text-align: center;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.20);
    border-radius: 5px;
    font-size: .85rem;
    position: relative;
}
.home .idx_buttonList li img{
    margin-bottom: 3px;
    height: 23px;
    max-width: 23px;
}
.home .idx_buttonList li:last-child{
    margin: 0;
}
.home .idx_buttonList li .markNum{
    position: absolute;
    background: #F24747;
    width: 20px;
    height: 20px;
    border-radius: 99rem;
    right: -8px;
    top: -8px;
    font-size: 75%;
    box-shadow: 0 0 10px #000;
}
.home .idx_bot_buttonList{
    padding: 0 12.8px 0 12.8px;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.20);
    border-radius: 5px;
    min-height: calc(100vh - 7.6rem - 370px);
}
.home .idx_bot_buttonList li{
    display: inline-block;
    width: 33.33%;
    font-size: .85rem;
    text-align: center;
    padding: 12.8px 0;
    position: relative;
}
.home .idx_bot_buttonList li img{
    vertical-align: middle;
    height: 50px;
    max-width: 60px;
}
.home .idx_bot_buttonList li .img{
    height: 50px;
    margin-bottom: .3rem;
}

/*個人*/
.mypage .userImg{
    width: 80px;
    height: 80px;
    background: url("../../images/icon-user.svg"), linear-gradient(to bottom, rgba(212,112,0,1) 1%,rgba(212,148,0,1) 99%);
    background-size: 20px;
    background-position: center center;
    background-repeat: no-repeat, repeat;
    -webkit-border-radius: 99rem;
    -moz-border-radius: 99rem;
    border-radius: 99rem;
    margin: 1rem auto;
    position: relative;
}
.mypage .userImg .img{
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.mypage .userImg .img img{
    max-width: 100%;
    max-height: 100%;
}
.mypage .userImg button.upload{
    width: 25px;
    height: 25px;
    border: 0;
    -webkit-border-radius: 99rem;
    -moz-border-radius: 99rem;
    border-radius: 99rem;
    background-color: #FFFFFF;
    background-image: url("../../images/icon-camera.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding: 0;
}
.mypage .userInfo ul{
    margin-bottom: 2rem;
}
.mypage .userInfo li{
    width: 33.33%;
    display: inline-block;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.mypage .userInfo li:last-child{
    border-right: 0;
}
.mypage .userInfo .word{
    font-size: 75%;
    padding-bottom: .2rem;
}
.mypage .userInfo .num{
    color:  var(--sub-word-color);
}
.mypage h5{
    font-size: 75%;
    padding: 0rem 0 .7rem 0;
    color:  var(--sub-word-color);
}
.mypage h5.modal-title{
    color: #333;
    font-size: 1.25rem;
    padding: 0;
}
.mypage .invite{
    width: 100%;
    padding: .5rem;
    background-repeat:  no-repeat;
    background-image: linear-gradient(90deg, rgba(212,148,0,1) 100%, rgba(212,112,0,1) 100%);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    border-radius: 5px;
    margin-bottom: 1rem;
}
.mypage .invite .box{
    border: 1px solid rgba(255,255,255,.25);
    padding: .3rem;
}
.mypage .invite .box {
    background-image: url(../../images/icon-rightarrow.svg);
    background-position: 95%;
    background-size: 10px;
    background-repeat: no-repeat;
}
.mypage .invite .box img{
    vertical-align: middle;
    margin-right: 12.8px;
}
/*推薦分享*/
.invitePage .top{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}
.invitePage b{
    line-height: 2;
}
.invitePage .top .img{
    position: relative;
}
.invitePage .top .img img{
    max-width: 100%;
}
.invitePage .top .int_title{
    padding: 1vw 0;
    position: absolute;
    top: 39vw;
    background: rgba(255,255,255,0.85);
    border: 1px solid #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.50);
    border-radius: 25.5px;
    color: #333;
    font-weight: bold;
    left: 10vw;
    width: 67vw;
}
.invitePage .top .text{
    top: 53vw;
    position: absolute;
    width: 100%;
    text-align: center;
}
.invitePage .top .text p{
    margin-bottom: .2rem;
}
.invitePage .top .text .coin{
    color: #FFE379;
    font-size: 1.3rem;
}
.invitePage .top .qrcode{
    top: 70vw;
    width: 100%;
    text-align: center;
    position: absolute;
}
.invitePage .top .qrcode canvas{
    border: 5px solid #fff;
    border-radius: 5px
}
.invitePage .top .qrcode img{
    border: 5px solid #fff;
    border-radius: 5px
}
.invitePage .top .invite_code{
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 5.2rem;
}
.invitePage .top .btn_copy{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 2.2rem;
}
.invitePage .top .btn_copy .btn{
    background: rgba(255,255,255,.4);
    padding: .4rem 1rem;
    width: 54vw;
    color: #fff;
    border-radius: 99rem;
}
.invitePage .bottom{
    font-size: .85rem;
}
.mypage .subContent{
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
}
.mypage .btn_list{
    margin-bottom: 1.5rem;
}
.mypage .btn_list li, .mypage .ad_list li{
    padding: .7rem 1rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    background-image: url("../../images/nav.svg");
    background-position: right center;
    background-repeat:  no-repeat;
}
.mypage .btn_list a{
    color:  var(--main-word-color);
}
.mypage li.last{
    border-bottom: 0;
}
.mypage li.end{
    background-image: none;
    border-bottom: 0;
}
.mypage .btn_list li span.coin{
    float: right;
    padding-right: 1.5rem;
}
.mypage .viewpage .userImg{
    width: 50px;
    height: 50px;
    margin: 0 15px;
    float: left;
}
.mypage .viewpage .userImg .img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.mypage .viewpage .userInfo{
    width: calc(100% - 80px);
    float: right;
    padding-top: .3rem;
}
.mypage .viewpage .userText{
    width: 100%;
    float: left;
    padding-top: 1rem;
}
.mypage .viewpage .userText .form-group{
    position: relative;
}
.mypage .viewpage .userText h5{
    font-size: .85rem;
    padding: 0rem 0 .7rem 0;
    color:  var(--main-word-color);
}
.AppType2 .mypage .viewpage .userText h5{
    color:  var(--type2-word-color);
}
.mypage .viewpage .userText input[type="text"], .mypage .viewpage .userText textarea, .mypage .viewpage .userText select{
    background: rgba(255,255,255,0.10);
    border-radius: 5px;
    color: var(--word-color);
    border: 0;
    padding: .75rem 1rem;
    height: auto;
}
.AppType2 .mypage .viewpage .userText input[type="text"], .AppType2 .mypage .viewpage .userText textarea, .AppType2 .mypage .viewpage .userText select{
    border: 1px solid #DDDDDD;
    background: var(--main-word-color);
    color: #666666;
}
.mypage .btn_area{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2rem;
}
.mypage .btn_area button{
    background: var(--main-btn-color);
    font-size: 1rem;
    color: var(--main-word-color);
    text-align: center;
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.50);
    border-radius: 99rem;
    min-width: 70%;
    padding: .65rem 1rem;
}
.mypage .viewpage .subContent{
    float: left;
    width: 100%;
    padding: 1rem;
}
.mypage .viewpage .subContent h4{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.mypage .viewpage .subContent h4 button{
    background: var(--main-btn-color);
    color: var(--main-word-color);
    border: 0;
    border-radius: 5px;
    font-size: 12.8px;
    padding: .2rem 12.8px;
    float: right;
}
.mypage .viewpage .subContent .info{
    color: var(--word-color);
    word-break: break-all;
}
.mypage .ad_list{
    margin-top: 15px;
    width: 100%;
    height: calc(100vh - 300px - 2rem);
    float: left;
    overflow-y: scroll;
    position: relative;
}
.mypage .ad_list .name{
    padding-right: 1.5rem;
}
.mypage .ad_list .buy{
    color: var(--in-color);
}
.mypage .ad_list .sell{
    color: var(--out-color);
}

.mypage .ad_list .num{
    padding-right: 1rem;
}
.mypage .ad_list .pay{
    float: right;
    padding-right: 1.5rem;
}
.mypage .ad_list .pay img{
    margin-right: .5rem;
}

.mypage .memo{
    padding-left: 1.3rem;
    background-image: url("../../images/icon-notice.svg");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 4px;
    color: var(--sub-word-color);
    font-size: .85rem;
}
.AppType2 .mypage .memo{
    color: var(--type2-word-color);
    margin-top: 1rem;
    background-image: url("../../images/icon-notice-g.svg");
}

.mypage .text_list{
    padding: 1.5rem 0 0 0;
}
.mypage .text_list select, .mypage .text_list input[type="text"]{
    padding: 0 1rem;
    height: 48px;
    line-height: 48px;
    width: 100%;
    background: rgba(255,255,255,0.10);
    border-radius: 5px;
    border: 0;
    margin-bottom: 1.5rem;
}
.AppType2 .mypage .text_list select, .AppType2 .mypage .text_list input[type="text"]{
    background: var(--main-word-color);
    border: 1px solid #DDDDDD;
}

.mypage .text_list select option{
    color: #333;
}
.mypage .btn_box{
    padding-top: 1rem;
    text-align: center;
}
.mypage .btn_box input[type="button"]{
    min-width: 100px;
    margin: 0 .5rem;
    background: rgba(255,255,255,.5);
    color: #ffffff;
}
.mypage .btn_box input[type="button"].submit{
    background: rgba(233,184,0,0.90);
}
.AppType2 .mypage .btn_box input[type="button"], .AppType2 .bottomButtonList input[type="button"]{
    background: #2D5187;
    border-color: #2D5187;
}
.AppType2 .mypage .btn_box input[type="button"].submit, .AppType2 .bottomButtonList input[type="button"].submit{
    background: var(--sub-word-color);
    border-color: var(--sub-word-color);
}
.mypage .fileUpload{
    position: relative;
    margin-bottom: 1rem;
}
.mypage .fileUpload .file-upload-form{
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 3rem 0 2rem 0;
    width: 87vw;
    height: 87vw;
    z-index: 10;
    color: var(--word-color);
    background: url('../../images/icon-scan.svg') center center no-repeat, #fff;
}
.mypage .fileUpload input{
    width: calc(100% - 4rem);
    padding: 2.5rem 0;
    opacity: 0;
}
.mypage .fileUpload .image-preview div{
    position: absolute;
    top: 0;
    z-index: 1;
}
.mypage img.preview {
    width: 87vw;
    height: 87vw;
    border: 0;

}
.myPageIndex .mypage img.preview {
    width: 100%;
    height: auto;
}
.myPageIndex .title{
    position: relative;
    padding: 0;
    margin-top: -40px;
}
.mypage .userImg.headImg img.preview {
    border-radius: 100%;
}

.mypage .el-radio.is-bordered{
    height: auto;
    text-align: left;
    width: 100%;
    margin: 0 0 1rem;
}
.mypage .el-radio.is-bordered.is-checked {
    border-color: var(--sub-word-color);
}
.mypage .el-radio__input.is-checked+.el-radio__label{
    color: #333333;
    font-size: 0.9rem;
}

/*-----------安全中心-----------*/
.SecurityCodeBox .form-group img {
    position: absolute;
    margin: 0.7rem 1rem;
}
.mypage .viewpage.SecurityCodeBox .userText input[type="text"], .mypage .viewpage.SecurityCodeBox .userText select{
    padding: .75rem 1rem;
}
.mypage .viewpage.SecurityCodeBox .userText select{
    color: var(--word-color);
}
.mypage .viewpage.SecurityCodeBox .userText select option{
    color: #666;
}
.AppType2 .mypage .viewpage.SecurityCodeBox .userText select{
    color: #666;
}
.SecurityCodeBox .topText{
    margin-top: 5vh;
    font-size: 0.9rem;
    color: var(--sub-word-color);
    padding-left: 1rem;
}
.SecurityCodeBox .topText img{
    height: 0.9rem;
    margin-right: 0.5rem;
}

.mypage .SecurityCodeBox .btn_area {
    margin-top: 5rem;
}
.mypage .modal-dialog-scrollable .modal-body, .mypage .modal-footer{
    background-color: #f3f3f3;
}
.mypage .modal-footer{
    border: none;
}
.mypage .modal-dialog-scrollable .modal-body {
    padding: 3vh 10vw 0 10vw;
    max-height: 50vh;
}
.mypage .el-radio__inner::after{
    content: "\2713";
    color: #FFF;
    background-color: transparent;
    left: 6px;
    top: 5px;
}
.mypage .el-radio__inner{
    width: 20px;
    height: 20px;
}
.mypage .el-radio.is-bordered, .mypage .el-radio.is-bordered+.el-radio.is-bordered{
    margin: 0 0 1rem;
    padding: 12px 20px 10px 10px;
    background-color: var(--main-word-color);
}
.mypage .el-radio__input.is-checked .el-radio__inner{
    border-color: var(--sub-word-color);
    background-color: var(--sub-word-color);
}
.Set2FaBox{
    margin-left: -10px;
}
.Set2FaBox .number{
    font-size: 18px;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 100%;
    width: 32px;
    text-align: center;
    border: 3px solid #465eaf;
    color: #465eaf;
}
.Set2FaBox .line{
    min-height: 160px;
    width: 4px;
    background: #465eaf;
    display: table;
    margin: 0 auto;
}
.Set2FaBox tr td:nth-child(1){
    vertical-align: top;
    padding-right: 10px;
    padding-bottom: 0;
    padding-top: 0;
}
/*-----------管理好友錢包-----------*/
.FriendWalletList{
    margin-bottom: 1.5rem;
}
.FriendWalletList .card{
    background: rgba(255,255,255,0.10);
    color: #ffffff;
    border-radius: 5px;
}
.FriendWalletList .FriendData .Sort{
    color: var(--sub-word-color);
    font-size: 0.9rem;
    line-height: 2.3rem;
}
.FriendWalletList .FriendData .topBox {
    padding: 0rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    line-height: 3rem;
}
.FriendWalletList .FriendData .topBox .name, .FriendWalletList .addressEditing .WalletAddress{
    width: 87%;
}
.FriendWalletList .FriendData .topBox .edit, .FriendWalletList .addressEditing .CopyBox{
    width: 13%;
}

.FriendWalletList .addressEditing .WalletAddress{
    display : inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width :100%;
}
.FriendWalletList .FriendData .topBox .edit{
    float: right;
    text-align: right;
}
.el-popper[x-placement^=bottom]{
    margin-top: 6px !important;
}

.FriendWalletList .FriendData .topBox .edit .btn{
    background: transparent;
    border: 0;
    width: 36px;
    height: 36px;
    text-align: right;
}
.FriendWalletList .FriendData .bottomBox{
    padding: 1rem;
}
.FriendWalletList .FriendData .topBox button img {
    width: 100%;
}
.FriendWalletList .FriendData .bottomBox h6{
    font-size: 0.9rem;

}
.FriendWalletList .FriendData .bottomBox .WalletAddress, .FriendWalletList .FriendData .bottomBox .remarksBox{
    font-size: 0.7rem;
    color: rgba(255,255,255,0.70);
    line-height: 1.8rem;
}
.FriendWalletList .addressEditing{
    display: flex;
}
.FriendWalletList .addressEditing .CopyBox{
    text-align: right;
}
.FriendWalletList .addressEditing .CopyBox img{
    width: 0.7rem;
    display: block;
    margin: 0 auto;
}
.FriendWalletList .addressEditing .CopyBox button{
    background: rgba(255,255,255,0.10);
    border-radius: 100%;
    border: none;
    height: 1.8rem;
    width: 1.8rem;
    padding: 0;
}
.el-popper[x-placement^=bottom] {
    margin-top: 0px;
}
/*-----------我的評價-----------*/

.CommentList li a {
    display: flex;
    color: #ffffff;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 0;
}
.CommentList li .next img{
    width: 100%;
}
.CommentList .classification{width: 15%; line-height: 2.5rem;}
.CommentList .user{width: 50%}
.CommentList .star{width: 35%; line-height: 2.5rem;}
.CommentList .next{width: 3%; line-height: 2.5rem;}

.CommentList .star img{width: 11%;
    margin-right: 5px;}

.CommentList .buyIn{color: #6ED1AF;}
.CommentList .sellout{color: #F6697D;}

.CommentList .user .id{
    display : inline-block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width: 100%;
}
.CommentList .user .time{
    opacity: 0.5;
    font-size: 12.8px;
}
.CommentArea .el-tabs--top .el-tabs__item.is-top {
    width: 33.33%;
}
.CommentContentArea .userBg {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
.CommentContentArea .userBg img{
    width: 100%;
    border-radius: 100%;
}
.CommentContentArea .TopArea .data{
    color: var(--sub-word-color);
    font-size: 1.2rem;
}
.CommentContentArea .TopArea{
    text-align: center;
}
.CommentContentArea .BottomList{
    padding-top: 1rem;
    font-size: 0.85rem;
}
.CommentContentArea .BottomList .row{
    padding: 12.8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.CommentContentArea .BottomList .col-8{
    text-align: right;
    color: rgba(255, 255, 255, 0.7);
}
.CommentContentArea .BottomList .star img{
    width: 0.95rem;
    margin-left: 5px;
}
.CommentContentArea .BottomList .row .col-12:nth-child(2){
    color: rgba(255, 255, 255, 0.7);
    word-break: break-all;
}
.btn_area button {
    background: var(--main-btn-color);
    font-size: 1rem;
    color: var(--main-word-color);
    text-align: center;
    border: 1px solid rgba(255,255,255,0.20);
    -webkit-box-shadow: 0 0 5px 0 rgba(255,255,255,0.50);
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.50);
    border-radius: 99rem;
    min-width: 70%;
    padding: .65rem 1rem;
}
.CommentContentArea .btn_area {
    margin-top: 10vh;
    text-align: center;
}
.CommentList .rating{
    line-height: 3;
    padding-right: 12.8px;
}
.CommentContentArea .rating{
    width: 59vw;
}
.CommentContentArea .rating .star-rating{
    float: right;
}
/*交易中心*/
.add_ad{
    position: absolute;
    top: 4px;
    padding: 2.5rem 0 0 0;
    right: 25px;
    width: 20px;
    z-index: 20;
}
.add_ad img{
    width: 20px;
    height: 20px;
    margin-bottom: 12px;
}
.trade .el-tabs--top .el-tabs__item.is-top{
    width: 50%;
}
.trade .tabPage .el-tabs__active-bar{
    width: 50%;
}
.trade .SelectFilterContent input.el-input__inner{
    background: transparent;
    color: #fff;
    position: relative;
    z-index: 9;
}
.trade .el-select .el-input.is-focus .el-input__inner{
    border-color: var(--main-btn-color);
}
.el-popper .el-select-dropdown__item.selected{
    color: #fff;
}
.el-select-dropdown.el-popper{
    background: var(--main-btn-color);
    border-color: var(--main-btn-color);
}
.el-popper .el-select-dropdown__item.hover{
background-color: rgba(255, 255, 255, 0.4);
}
.el-select-dropdown.el-popper[x-placement^=bottom] .popper__arrow::after, .el-select-dropdown.el-popper[x-placement^=bottom] .popper__arrow{
    border-bottom-color: var(--main-btn-color);
}
.el-popper .el-select-dropdown__item{
    color: #000;
}
.trade .SelectFilterContent tr td:nth-child(1){
    padding-right: 10px;
}
/*.trade .SelectFilterContent tr td:nth-child(1) i{*/
    /*margin-left: 19vw;*/
    /*margin-top: -26px;*/
    /*display: block;*/
    /*margin-bottom: 10px;*/
/*}*/

.trade .SelectFilterContent tr td .btn-dark{
    background: rgba(0, 0, 0, 0.9);
    border-color: rgba(0, 0, 0, 0.9);
}
.trade .SelectFilterContent tr td .btn-dark:not(:disabled):not(.disabled).active{
    background: var(--main-btn-color);
    border-color: var(--main-btn-color);
}


.tradeList li a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ffffff;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.5rem 0;
}
.tradeList .item{
    width: 60%;
    line-height: 2.5rem;
}
.tradeList .none{
    width: 40%;
    line-height: 2.5rem;
}
.tradeList .star{
    width: 27%;
    line-height: 2.5rem;
}
.tradeList .star img{
    width: 12px;
    margin-right: 5px;
}
.tradeList .payment{
    width: 10%;
    line-height: 2.5rem;
}
.tradeList .payment img{
    margin-right: 5px;
}
.tradeList .next{
    width: 3%;
    line-height: 2.5rem;
}
.tradeList .next img{
    max-width: 100%;
}
.trade_add p{
    margin-top: 1rem;
}
.trade_add .radio{
    width: 100%;
    display: inline-block;
    border: 1px solid #DDDDDD;
    background: #fff;
}
.trade_add .radio label{
    color: #666;
    width: 50%;
    line-height: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0 20px;
    margin: 0;
}
.trade_add .radio input[type=radio]{
    position: absolute;
    visibility: hidden;
    display: none;
}
.trade_add .radio input[type=radio]:checked + label{
    color: #fff;
    background: var(--sub-word-color);
}
.trade_add .radio label + input[type=radio] + label {
    border-left: 1px solid var(--sub-word-color);
}

.trade_add .memo{
    float: right;
    font-size: .85rem;
    padding-top: 3px;
}
.trade_add .memo .num{
    color:  var(--sub-word-color);
}




/*交易流程*/
.trade_flow .top{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.10);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.7rem 1rem;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: rgba(255,255,255,0.10);
}
.trade_flow .top .userImg{
    position: relative;
    width: 70px;
    text-align: center;
    display: inline-block;
}
.trade_flow .top .userImg .img{
    width: 45px;
    height: 45px;
    background-color: rgb(221, 141, 72);
    background-image: url('../../images/icon-user.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 99rem;
    margin: 0px auto;
    display: block;

}
.trade_flow .top .userImg .add_attention{
    position: absolute;
    background: var(--main-btn-color);
    border: 0;
    color: #fff;
    font-size: .67rem;
    border-radius: 5px;
    left: 43%;
    margin-left: -18px;
    margin-top: -10px;
    padding: 0;
    width: 3rem;
}
.trade_flow .top .userInfo{
    width: calc(100% - 70px);
    display: inline-block;
}
.trade_flow .top .userInfo ul{
    margin: 0;
}
.trade_flow .top .userInfo li{
    width: 33.33%;
    display: inline-block;
    text-align: center;
    font-size: .85rem;
    border-right: 1px solid rgba(255,255,255,.5);
}
.trade_flow .top .userInfo li:last-child{
    border-right: 0;
}
.trade_flow .top .userInfo li .num{
    color: var(--sub-word-color);
    line-height: 1.2;
    font-size: 75%;
}
.trade_flow .top .status{
    text-align: center;
}
.trade_flow .top .status .memo{
    opacity: .7;
    font-size: 75%;
    margin-top: .5rem;
}
.trade_flow .top .status .countDown{
    font-size: 1.2rem;
}
.trade_flow .top .status .countDown .num{
    color: var(--sub-word-color);
}
.trade_flow .middle{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 1rem;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: rgba(255,255,255,0.10);
}
.trade_flow .middle .detail li{
    width: 100%;
    display: inline-block;
    font-size: .85rem;
}
.trade_flow .middle .detail li .item{
    float: left;
}
.trade_flow .middle .detail li .num{
    float: right;
    color: var(--sub-word-color);
}
.trade_flow .middle .detail li .num.word_w{
    color: var(--main-word-color);
}
.trade_flow .middle .detail li .num img{
    margin-left: .5rem;
}
.trade_flow .middle .detail li .text{
    width: 100%;
    float: left;
    color: var(--type3-word-color);
    margin-top: .5rem;
}
.trade_flow .bot{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem 0;
    background: rgba(255,255,255,0.10);
    text-align: center;
    margin-bottom: 1.5rem;
}
.trade_flow .bot button{
    background: -moz-linear-gradient(top, rgba(212,148,0,1) 0%, rgba(212,112,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(212,148,0,1) 0%,rgba(212,112,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(212,148,0,1) 0%,rgba(212,112,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d49400', endColorstr='#d47000',GradientType=0 ); /* IE6-9 */
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 5px 0 rgba(255, 237, 213, 0.5);
    border-radius: 99rem;
    padding: 3px 16px;
    color: var(--main-word-color);
    min-width: 200px;
}
.trade_flow .bot.two_btn button{
    min-width: 110px;
    margin: 0 .5rem;
    font-size: 0.85rem;
}
.trade_flow .bot.two_btn button.cancel{
    background: rgba(255,255,255,0.30);
}
.modal .PaymentInformationQR{
    width: 45vw;
    padding: 1rem;
    border-radius: 12.8px;
    margin: 0 auto;
}
.modal .PaymentInformationQR img{
    width: 100%;
}

.trade_flow .PaymentInformation{
    padding: 0px 10px;
    font-size: 12.8px;
    margin: 0px 0px 3px 5px;
}
.trade_flow .talkArea{
    height: calc(100vh - 380px - 4rem);
    /*background: rgba(59, 57, 154, 0.3);*/
    background: -moz-linear-gradient(top, rgba(39,45,77,0.15) 0%, rgba(39,45,77,0.99) 99%, rgba(39,45,77,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(39,45,77,0.15) 0%,rgba(39,45,77,0.99) 99%,rgba(39,45,77,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(39,45,77,0.15) 0%,rgba(39,45,77,0.99) 99%,rgba(39,45,77,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26272d4d', endColorstr='#272d4d',GradientType=0 ); /* IE6-9 */
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 24px;
}
.trade_flow .talkArea .talkBox {
    height: 75%;
    overflow: auto;
    padding-bottom: 15px;
}
.trade_flow .talkArea .talkBox .memo{
    color: var(--main-word-color);
    opacity: 0.7;
    font-size: 75%;
}
.trade_flow .talkArea .talkBox .memo p{
    margin-bottom: .5rem;
}
.trade_flow .talkArea .talkBox .memo p img{
    vertical-align: middle;
}
.trade_flow .talkArea .talkBox .memo ol{
    padding-left: 1rem;
}
.trade_flow .talkArea .talkBox .memo ol li{
    list-style: decimal;
}
.trade_flow .talkArea .talkBox .memo p.system_info{
    margin: 0;
    text-align: center;
}
.trade_flow .talkArea .talkBox .memo p.system_info:nth-child(1){
    padding-top: 1rem;
}

.SpeakWithOthersPage .talkBox{
    height: 100%;
    overflow: auto;
}

.SpeakWithOthersPage {
    height: calc(100% - 2rem);
    overflow: auto;
}

.trade_flow .inputArea, .SpeakWithOthersPage .inputArea{
    position: absolute;
    bottom: 0;
    padding: .8rem 0;
    left: 0;
    width: 100%;
    background: #161831;
}

.trade_flow .inputArea button img, .SpeakWithOthersPage button img{
    vertical-align: unset;
    height: 12px;
}
.trade_flow .inputArea .inputBox, .SpeakWithOthersPage .inputBox{
    width: calc(100% - 10%);
    background: rgba(255,255,255,0.10);

    margin-left: 5%;
    border-radius: 5px;
}
.trade_flow .inputArea input, .SpeakWithOthersPage input{
    border-radius: 5px;
    padding: .4rem 0.1rem 0.4rem 1rem;
    background: transparent;
    border: 0;
    color: var(--main-word-color);
    width: calc(100% - 38px);
}
.trade_flow .inputArea button, .SpeakWithOthersPage button{
    width: 35px;
    height: 35px;
    background: transparent;
    border: 0;
    border-radius: 99rem;
    line-height: 35px;
}
.trade_flow .inputArea input::placeholder, .SpeakWithOthersPage input::placeholder{
    color: rgba(255,255,255,.5)
}
.TradeCenterBtn{
    padding: 0;
    position: absolute;
    right: 1.4rem;
    bottom: 4.5rem;
    background-color: transparent;
    border: none;
}

/*申訴*/
.appeal .orderNumber{
    padding: 1rem 0 0 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}
.appeal .orderNumber .num{
    float: right;
    font-size: .85rem;
}
.appeal .memo{
    color: var(--type2-word-color);
    margin-top: 1rem;
    background-image: url(../../images/icon-notice-g.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: left 4px;
    font-size: .85rem;
    padding-left: 20px;
    margin-bottom: 1rem;
}
.appeal label{
    font-size: .85rem;
    font-weight: 600;
}
.appeal .btn_area{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 4rem;
}

/*刊登管理*/
.adList{
    font-size: .85rem;
}
.adList li{
    position: relative;
    padding: .8rem 0;
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.adList li .item{
    width: 100%;
    display: inline-block;
}
.adList li .item .status{
    width: 15%;
    display: inline-block;
}
.adList li .item .status.buy{
    color: var(--in-color);
}
.adList li .item .status.sell{
    color: var(--out-color);
}
.adList li .item .price{
    width: 85%;
    display: inline-block;
}
.adList li .num, .adList li .time{
    width: 50%;
    display: inline-block;
    font-size: 12px;
    color: rgba(255,255,255,0.50);
    padding-top: .3rem;
}
.adList li .time{
    text-align: right;
}
.adList li .edit, .adList li .next{
    position: absolute;
    right: 0;
    top: .5rem;
}
.adList li .next{
    top: .65rem;
}
.adList li .next img{
    max-width: 10px;
}

/*交易紀錄*/
.tradeRecord .el-tabs--top .el-tabs__item.is-top{
    width: 50%;
}
.tradeRecord.tabPage .el-tabs__active-bar{
    width: 50%;
}
.tradeRecord .record_list li{
    font-size: .85rem;
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding: 1rem 0;
}
.tradeRecord .record_list li .user_img{
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,.1);
    border-radius: 99rem;
    background-image: url(../../images/icon-user.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 20px;
    float: left;
}
.tradeRecord .record_list li .text{
    width: calc(100% - 50px);
    display: inline-block;
}
.tradeRecord .record_list li .top{
    width: 100%;
    margin-bottom: .5rem;
}
.tradeRecord .record_list li .top .user_id, .tradeRecord .record_list li .top .price{
    width: 50%;
    display: inline-block;
}
.tradeRecord .record_list li .top .price{
    text-align: right;
    color: var(--sub-word-color);
}
.tradeRecord .record_list li .left{
    font-size: 75%;
    opacity: .7;
    width: calc(100% - 70px);
    display: inline-block;
}
.tradeRecord .record_list li .status{
    float: right;
    font-size: 75%;
    background: rgba(255,255,255,.15);
    padding: .2rem .8rem;
    border-radius: 99rem;
    margin-top: .5rem;
}

/*------------我的錢包------------*/
.WalletArea .WalletList .OneBox{
}
.WalletArea .WalletList .OneBox .digital, .WalletArea .WalletList .OneBox .leftText, .WalletArea .WalletList .OneBox table .text-right{
    color: var(--sub-word-color);
}
.WalletArea .WalletList .OneBox .leftText{
    font-weight: bold;
    font-size: 105%;
}
.WalletArea .WalletList .OneBox table{
    float: right;
    font-size: 85%;
    color: rgba(255, 255, 255, 0.9);
}
.WalletArea .WalletList .OneBox table tr td{
    padding: 0px 0 3px 15px;
}
.WalletArea.WalletIndex .WalletList .OneBox a{
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 15px;
    line-height: 16px;
   }
.WalletArea .WalletList .OneBox a{
    line-height: 3rem;
}
.WalletArea .WalletList .OneBox:nth-last-child(1) a{
    border: none;
}
.WalletArea.tabPage .el-tabs--top .el-tabs__item.is-top, .BuyContract.ContractDetails .el-tabs--top .el-tabs__item.is-top{
    width: 50%;
}
.WalletArea .WalletList .OneBox .next, .WalletArea .WalletList .OneBox .digital{
    text-align: right;
}

.WalletArea .WalletList .OneBox .next img{
    width: 0.9rem;
}
.WalletArea .WalletList .OneBox .bottomBox{
    color: rgba(255,255,255,0.7);
    font-size: 0.9rem;
    border-top: 1px solid rgba(255,255,255,0.7);
    padding-top: 1rem;
}
.WalletArea .WalletList .OneBox .bottomBox .row{
    padding: 0.2rem 0;
}
.WalletArea .WalletList .OneBox .bottomBox .amount{
    padding: .2rem 0;
}
.WalletArea .WalletList .OneBox .bottomBox .text, .WalletArea .WalletList .OneBox .bottomBox .digital{
    width: 50%;
    display: inline-block;
}
.WalletArea .topWalletShow{
    background: -moz-linear-gradient(top, rgba(212,148,0,1) 0%, rgba(212,112,0,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(212,148,0,1) 0%,rgba(212,112,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(212,148,0,1) 0%,rgba(212,112,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d49400', endColorstr='#d47000',GradientType=0 ); /* IE6-9 */
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}
.WalletArea .topWalletShow .topTitle, .WalletArea .topWalletShow .legal{
    font-size: 0.9rem;
}
.WalletArea .topWalletShow .topTitle{
    padding-top: 1rem;
}
.WalletArea .topWalletShow .topTitle .el-button{
    padding: 0;
    background: transparent;
    border: 0;
}
.WalletArea .topWalletShow .topTitle img{
    height: 12.8px;
    margin: 0 0 0.1rem 0.2rem;
}
.WalletArea .topWalletShow  .virtual {
    font-size: 1.5rem;
}
.WalletArea .topWalletShow .buttonList{
    margin-top: 12.8px;
}
.WalletArea .topWalletShow .buttonList .btn{
    margin: 0;
    width: 33%;
    color: #ffffff;
    font-size: 0.9rem;
    border-style: solid;
    border-color: rgba(255,255,255,0.50);
    border-radius: 0;
    background-color: transparent;
    padding: .5rem 0;
}
.WalletArea .topWalletShow .buttonList .btn:nth-child(1){
    border-width: 1px 1px 0 0;
}
.WalletArea .topWalletShow .buttonList .btn:nth-child(2){
    border-width: 1px 0px 0 0;
}
.WalletArea .topWalletShow .buttonList .btn:nth-child(3){
    border-width: 1px 0px 0 1px;
}
/*.WalletArea .GoldStatus{*/
    /*padding: 20px 0;*/
/*}*/
/*.WalletArea .GoldStatus ul{*/
    /*display: flex;*/
/*}*/
/*.WalletArea .GoldStatus ul li{*/
    /*width: 50%;*/
    /*text-align: center;*/
/*}*/
/*.WalletArea .GoldStatus ul li .line{*/
    /*background: #ffffff;*/
    /*width: 30px;*/
    /*height: 3px;*/
    /*margin: 0 auto 10px;*/
/*}*/
.WalletArea .fourOperations{
    margin:0 -16px 10px;
}
.WalletArea .fourOperations a{
    float: left;
    width: 50%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #171a36;
    background: -moz-linear-gradient(left, rgba(48,58,91,0.35) 0%, rgba(33,40,61,0.35) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48,58,91,0.35) 0%,rgba(33,40,61,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(48,58,91,0.35) 0%,rgba(33,40,61,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59303a5b', endColorstr='#5921283d',GradientType=1 ); /* IE6-9 */
}
.WalletArea .fourOperations a:nth-child(2), .WalletArea .fourOperations a:nth-child(4){
    background: -moz-linear-gradient(left, rgba(33,40,61,0.35) 0%, rgba(48,58,91,0.35) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(33,40,61,0.35) 0%,rgba(48,58,91,0.35) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(33,40,61,0.35) 0%,rgba(48,58,91,0.35) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5921283d', endColorstr='#59303a5b',GradientType=1 ); /* IE6-9 */
}
.WalletArea .fourOperations a .image{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.WalletArea .fourOperations a img{
    height: 40px;
    max-width: 52px;
}
.WalletArea .fourOperations a .text{
    text-align: center;
    padding: 5px 0;
}
.WalletIndex .buyContract{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ffffff;
    padding: 8px 0;
    margin: 8px 0;
}
.WalletIndex .buyContract img{
    height: 16px;
    margin-right: 7px;
}

/*------------收款------------*/
.WalletArea.SelectPage .WalletList .OneBox{
    border-bottom:  1px solid rgba(255,255,255,0.5);
}
.WalletArea.SelectPage .WalletList .OneBox a{
    color: #ffffff;
}
.CollectingMoneyPage{
    font-size: 0.9rem;
    text-align: center;
}
.CollectingMoneyPage .qrCode{
    background-color: #ffffff;
    width: 70%;
    opacity: .9;
    margin: 2rem auto;
    padding: 2rem 0;
    text-align: center;
    border-radius: 5px;
}
.CollectingMoneyPage .qrCode img{
    width: 100%;
}
.CollectingMoneyPage .walletAddress {
    width: 70%;
    word-break: break-all;
    margin: 0 auto 2rem;
    opacity: 0.7;
}
.CollectingMoneyPage .prompt{
    color: var(--main-btn-color);
}

/*------------轉幣/幣幣轉換/資金劃轉------------*/
.TransferCurrencyPage{
    padding-top: 4vh;
}
.TransferCurrencyPage .rightButton {
    /*position: absolute;*/
    /*right: 10%;*/
    /*margin-top: 0.6rem;*/
    /*width: 95%;*/
    /*position: relative;*/
    /*text-align: right;*/
    /*margin: 0 0 14px 0;*/
}
.TransferCurrencyPage .rightButton.FriendWallet{
    /*margin: -37px 0 37px 0;*/
}
.TransferCurrencyPage .rightButton .btn{
    font-size: 12.8px;
    background-color: var(--sub-word-color);
    color: #ffffff;
    padding: 0 5px;
}
.TransferCurrencyPage form small{
    color: var(--sub-word-color);
}
.TransferCurrencyPage .el-radio.is-bordered{
    height: auto;
    text-align: left;
    width: 100%;
    margin: 0 0 1rem;
}
.TransferCurrencyPage .el-radio.is-bordered.is-checked {
    border-color: var(--sub-word-color);
}
.TransferCurrencyPage .el-radio__input.is-checked+.el-radio__label{
    color: #333333;
    font-size: 0.9rem;
}
.TransferCurrencyPage .WalletAddress{
    font-size:12.8px;
    color: rgba(51,51,51,0.70);
    margin-top: 0.5rem;
    font-weight: 300;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    width :100%;
}
.TransferCurrencyPage label.el-radio.is-bordered {
    background: #fff;
}
.TransferCurrencyPage .el-radio__input.is-checked .el-radio__inner {
    border-color: var(--sub-word-color);
    background: var(--sub-word-color);
}
.TransferCurrencyPage .el-radio.is-bordered+.el-radio.is-bordered{
    margin-left: 0;
}


.TransferCurrencyPage .modal-footer{
    border: none;
}
.TransferCurrencyPage .modal-dialog-scrollable .modal-body {
    padding: 3vh 10vw;
    max-height: 50vh;
}
.TransferCurrencyPage .el-radio__inner::after{
    content: "\2713";
    color: #FFF;
    background-color: transparent;
    left: 6px;
    top: 5px;
}
.TransferCurrencyPage .el-radio__inner{
    width: 20px;
    height: 20px;
}
.TransferCurrencyPage .memo{
    float: right;
    font-size: .85rem;
    padding-top: 3px;
}
.TransferCurrencyPage .memo .num{
    color:  var(--sub-word-color);
}
.TransferCurrencyPage .changItem{
    margin: -2vh auto 1.5vh;
    display: table;
}
#app-layout .el-radio-button__orig-radio:checked+.el-radio-button__inner{
    background: #2D5187;
    border-color: #2D5187;
    color: white;
}
#app-layout .el-radio-button__inner{
    color: #2D5187;
}
/*------------ 一般錢包------------*/
.WalletArea.GeneralPage .FreezeAvailable {
    padding: 0.5rem 0 12.8px;
    border-top: 1px solid rgba(255,255,255,0.50);
    margin-top: 1rem;
}
.WalletArea.GeneralPage .FreezeAvailable small{
    opacity: 0.8;
}
.WalletArea.GeneralPage .FeaturesList li{
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.20);
    box-shadow: 0 0 10px 0 rgba(255,255,255,0.20);
    border-radius: 5px;
    padding: 0 1rem;
    line-height: 50px;
    height: 50px;
    margin: 1rem 0;
}
.WalletArea.GeneralPage .FeaturesList li img{
    vertical-align: middle;
}
.WalletArea.GeneralPage .FeaturesList li .icon{
    width: 30px;
    margin-right: 20px;
    display: inline-block;
}
.WalletArea.GeneralPage .FeaturesList li .text{
    width: calc(100% - 62px);
    display: inline-block;
}
.WalletArea.GeneralPage .FeaturesList li .next{
    width: 12px;
    display: inline-block;
}
.WalletArea.GeneralPage .FeaturesList li .next img{
    max-width: 100%;
}

/*------------獎勵錢包/交易明細------------*/
.RewardArea.tabPage .el-tabs--top .el-tabs__item.is-top, .GeneralArea.tabPage .el-tabs--top .el-tabs__item.is-top  {
    width: 33.33%;
}
.RewardArea.tabPage.crc .asset{
   font-size: .85rem;
}
.RewardArea.tabPage.crc .asset span{
    margin: 0 .5rem;
}
.RewardArea .topWalletShow .buttonList{
    border-top: 1px solid rgba(255,255,255,0.50);
}
.RewardArea.crc .topWalletShow .buttonList .btn{
    width: 50%;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.50);
}
.RewardArea.crc .topWalletShow .buttonList .btn:last-child{
    border-right: 0;
}
.RewardArea .topWalletShow .buttonList .btn{
    border: 0;
}
.RewardArea .transReceipt{
    max-height: calc(100vh - 330px);
    margin: 0;
    overflow-y: scroll;
}
.RewardArea.crc .transReceipt{
    max-height: calc(100vh - 360px);
}
.RewardArea .transReceipt li, .GeneralArea .transReceipt li{
    font-size: .85rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255,255,255,0.70);
}
.RewardArea .transReceipt li, .GeneralArea .transReceipt li:last-child{
    border-bottom: 0;
}
.RewardArea .transReceipt li .status, .GeneralArea .transReceipt li .status{
    width: 15%;
    display: inline-block;
}
.RewardArea .transReceipt li .in, .GeneralArea .transReceipt li .in{
    color: var(--in-color);
}
.RewardArea .transReceipt li .out, .GeneralArea .transReceipt li .out{
    color: var(--out-color);
}
.RewardArea .transReceipt li .text, .GeneralArea .transReceipt li .text{
    width: 45%;
    display: inline-block;
}
.RewardArea .transReceipt li .num, .GeneralArea .transReceipt li .num{
    width: 40%;
    text-align: right;
    display: inline-block;
}
.RewardArea .transReceipt li .time, .GeneralArea .transReceipt li .time{
    font-size: 75%;
    color: rgba(255,255,255,0.50);
    margin-top: .5rem;
}
.RewardArea .transReceipt li .address, .GeneralArea .transReceipt li .address{
    font-size: 75%;
    color: rgba(255,255,255,0.50);
}

/*------------交易明細------------*/
.GeneralArea .transReceipt{
    max-height: calc(100vh - 145px);
    margin: 0;
    overflow-y: scroll;
}
.GeneralArea.sort .transReceipt{
    max-height: 100vh;
}

/*------------通知------------*/
.NoticePage .noticeList{
    height: calc(100vh - 90px);
    overflow-y: auto;
}
.noticeList li{
    border-bottom: 1px solid rgba(255,255,255,0.70);
    padding: 1rem 0;
}
.noticeList li:last-child{
    border-bottom: 0;
}
.noticeList li .img{
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.30);
    background-image: url("../../images/icon-user.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border-radius: 99rem;
    margin-right: 20px;

}
.noticeList li .right{
    display: inline-block;
    width: 45%;
}
.noticeList li .right .user{

}
.noticeList li .time{
    font-size: 75%;
    color: rgba(255,255,255,0.5);
}
.noticeList li .next{
    float: right;
    width: 10px;
    margin-left: 10px;
    line-height: 40px;
}
.noticeList li .memo{
    float: right;
    line-height: 42px;
    width: calc(100% - 45% - 70px);
    color: var(--sub-word-color);
    font-size: .85rem;
    text-align: right;
}
/*------------關注------------*/
.attentionList li{
    border-bottom: 1px solid rgba(255,255,255,0.70);
    padding: 1rem 0;
    display: flex;
}
.attentionList li:last-child{
    border-bottom: 0;
}
.attentionList li .right, .attentionList li .next, .attentionList li .memo{
    line-height: 42px;
    height: 42px;
}
.attentionList li .img{
    width: 30px;
    height: 30px;
    background-color: rgba(255,255,255,0.30);
    background-image: url("../../images/icon-user.svg");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    border-radius: 99rem;
    margin:  6px 20px 6px 0;

}
.attentionList li .right{
    width: 45%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.attentionList li .time{
    font-size: 75%;
    color: rgba(255,255,255,0.5);
}
.attentionList li .next{
    float: right;
    width: 10px;
    margin-left: 10px;
}
.attentionList li .memo{
    float: right;
    width: calc(100% - 45% - 70px);
    color: var(--sub-word-color);
    font-size: .85rem;
    text-align: right;
}
/*------------公告------------*/
.announcementList{
    height: calc(100vh - 144px);
    overflow: auto;
    margin: 8px 0 0 0;
}
.announcementList li{
    border-bottom: 1px solid rgba(255,255,255,0.70);
    padding: 1rem 0;
    display: flex;
}
.announcementList li:last-child{
    border-bottom: 0;
}
.announcementList li .right, .announcementList li .next{
    height: 42px;

}
.announcementList li .right{
    width: calc(100% - 10px);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.announcementList li .right .time, .AnnouncementPage .time{
    font-size: 0.7rem;
}
.announcementList li .next{
    float: right;
    width: 10px;
    margin-left: 10px;
    line-height: 42px;
}
.AnnouncementPage .time, .AnnouncementPage .InnerText{
opacity: 0.7;
}
.AnnouncementPage .titleText{
    margin-bottom: 1rem;
}
/*-----------獎勵任務------------*/
.RewardTask li img{
    width: 100%;
    border-radius: 5px;
}
.RewardTask li{
    margin-bottom: 1rem;
}
/*------------快速兌換------------*/
.quickExchange{
    padding-top: 5vh;
}
.quickExchange label{
    width: 100%;
}
.quickExchange .input-group > .input-group-prepend button{
    border: 1px solid #ddd;
    background: #fff;
    color: #666;
    -webkit-border-top-left-radius: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-topleft: 5px !important;
    -moz-border-radius-bottomleft: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.quickExchange .memo{
    float: right;
    font-size: .85rem;
    padding-top: 3px;
}
.quickExchange .memo .num{
    color:  var(--sub-word-color);
}
.quickExchange .rightButton {
    margin-right: 0.6rem;
    margin-top: -2.4rem;
    float: right;
}
.quickExchange .rightButton .btn{
    font-size: 12.8px;
    background-color: var(--sub-word-color);
    color: #ffffff;
    padding: 0 5px;
}
.ChooseFriendWallet .el-radio__label{
    display: flex;
}
.ChooseFriendWallet .el-radio__input{
    display: none;
}
.ChooseFriendWallet .el-radio__label div:nth-child(1){
    padding-right: 1rem;
}
.ChooseFriendWallet .WalletAddress {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}
.quick li{
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding: .8rem 0 .5rem 0;
}
.quick .top, .quick .bot{
    width: 100%;
    display: inline-block;
}
.quick .date{
    font-size: .85rem;
    float: left;
}
.quick .item{
    font-size: .85rem;
    color: var(--sub-word-color);
    float: right;
}
.quick .next{
    float: right;
    margin-left: .5rem;
}
.quick .next img{
    vertical-align: middle;
    margin-top: -5px;
}
.quick .txid{
    font-size: 75%;
    float: left;
    opacity: .7;
}
.quick .status{
    font-size: 75%;
    float: right;
    padding-right: 15px;
    opacity: .7;
}
.transContent{
    background: rgba(255,255,255,0.1);
    border-radius: 5px;
}
.transContent .detail li{
    width: 100%;
    display: inline-block;
    font-size: .85rem;
    padding: .75rem 1rem;
    line-height: 1.8;
}
.transContent .detail li.underLine{
    border-bottom: 1px solid rgba(255,255,255,.5);

}
.transContent .detail li .item{
    float: left;
    width: 50%;
}
.transContent .detail li .num{
    width: 50%;
    float: right;
    color: var(--sub-word-color);
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
    text-align: right;
}
.transContent .detail li .num.word_w{
    color: var(--main-word-color);
}
.transContent .detail li .text{
    width: 100%;
    float: left;
    color: var(--type3-word-color);
    margin: .5rem 0 .8rem 0;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.transContent .detail li .text:last-child{
    margin: .5rem 0 .2rem 0;
}


.AppType2.container .scan .scan_area{
    width: 230px;
    height: 230px;
    background: transparent;
    position: absolute;
    border: 1px solid #d5d5d5;
    left: 50%;
    margin-left: -115px;
    top: 25%;
}


.AppType2.container .scan .scan_text{
    width: 90%;
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 5%;
}

/*------------交易時輸入安全碼------------*/
.SecurityCodeInput .border-input {
    background: #ffffff;
    width: 36px;
    font-size: 25px;
    height: 36px;
    margin-left: 5px;
    margin-right: 4px;
    text-align: center;
    border-bottom: 1px solid #333333;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.SecurityCodeInput .inputs {
    margin-top: 10px;
    display: flex;
    justify-content: center;}


/*------------聊天------------*/
.talkListPage li{
    display: flex;
    color: #ffffff;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0 0 12.8px;
    margin-bottom: 12.8px;
}
.talkListPage li .user_img{
    width: 12%;
    margin-right: 5%;
}
.talkListPage li .user_img img{
    width: 100%;
    border-radius: 100%;
}
.talkListPage li .LastSentence{

    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.talkListPage li .text{
    width: 83%;
}
.talkListPage li .text .left {
    opacity: 0.6;
}
.SpeakWithOthersPage table{
    border-collapse: collapse;
    border-spacing: 0px;
}
.SpeakWithOthersPage table td{
    padding: 0;
    margin: 0;
    border: none;
}
.SpeakWithOthersPage .DialogueRecord, .DialogueInTransaction .DialogueRecord{
    width: 100%;

}

.SpeakWithOthersPage .Dialog, .DialogueInTransaction .Dialog{
    margin-top: 10px;
}
.SpeakWithOthersPage .Dialog .time, .DialogueInTransaction .Dialog .time, .SpeakWithOthersPage .Opponents.Service .time, .DialogueInTransaction .Opponents.Service .time{
    color: rgba(255, 255, 255, 0.6);
    font-size: 12.8px;
    margin-top: 2px;
    background-color: transparent;
    padding-bottom: 5px;
}

.SpeakWithOthersPage .Opponents.Dialog .time .id, .DialogueInTransaction .Opponents.Dialog .time .id{
    color: #f2f4f8;
    margin-right: 5px;
}
.SpeakWithOthersPage .Opponents{
    justify-content: left;
}
.SpeakWithOthersPage .Mine table, .DialogueInTransaction .Mine table{
    float: right;
}
.SpeakWithOthersPage .centerText, .DialogueInTransaction .centerText{
    color: #ffffff;
    font-size: 0.97rem;
    max-width: 70vw;
    word-break: break-all;
}
.SpeakWithOthersPage .Opponents table td, .DialogueInTransaction .Opponents table td{
    background-color: rgba(255, 255, 255, 0.3);
}
.SpeakWithOthersPage .Opponents.Service table td, .DialogueInTransaction .Opponents.Service table td{
    background-color: #b8e5ff;
    color: #333333;
}
.SpeakWithOthersPage .Mine table td, .DialogueInTransaction .Mine table td{
    background-color: rgba(255, 255, 255, 0.3);
}
.SpeakWithOthersPage .Mine table tr:nth-child(1) td:nth-child(1), .DialogueInTransaction .Mine table tr:nth-child(1) td:nth-child(1){
    background-color: transparent;
    background-image: url("../../images/Dialog2-1.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Mine table tr:nth-child(1) td:nth-child(3), .DialogueInTransaction .Mine table tr:nth-child(1) td:nth-child(3){
    background-color: transparent;
    background-image: url("../../images/Dialog2-2.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Mine table tr:nth-child(1) td:nth-child(4), .DialogueInTransaction .Mine table tr:nth-child(1) td:nth-child(4){
    background-color: transparent;
}
.SpeakWithOthersPage .Mine table tr:nth-child(2) td:nth-child(4), .DialogueInTransaction .Mine table tr:nth-child(2) td:nth-child(4){
    background-color: transparent;
    background-image: url("../../images/Dialog2-3.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Mine table tr:nth-child(3) td:nth-child(1), .DialogueInTransaction .Mine table tr:nth-child(3) td:nth-child(1){
    background-color: transparent;
    background-image: url("../../images/Dialog2-4.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Mine table tr:nth-child(3) td:nth-child(3), .DialogueInTransaction .Mine table tr:nth-child(3) td:nth-child(3){
    background-color: transparent;
    background-image: url("../../images/Dialog2-5.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Mine table tr:nth-child(3) td:nth-child(4), .DialogueInTransaction .Mine table tr:nth-child(3) td:nth-child(4){
    background-color: transparent;
}

.SpeakWithOthersPage .Opponents table tr:nth-child(1) td:nth-child(1), .DialogueInTransaction .Opponents table tr:nth-child(1) td:nth-child(1){
    background-color: transparent;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(1) td:nth-child(2), .DialogueInTransaction .Opponents table tr:nth-child(1) td:nth-child(2){
    background-color: transparent;
    background-image: url("../../images/Dialog1-2.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(1) td:nth-child(4), .DialogueInTransaction .Opponents table tr:nth-child(1) td:nth-child(4){
    background-color: transparent;
    background-image: url("../../images/Dialog1-3.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(2) td:nth-child(1), .DialogueInTransaction .Opponents table tr:nth-child(2) td:nth-child(1){
    background-color: transparent;
    background-image: url("../../images/Dialog1-1.png");
    background-size: 100%;
    padding: 5px;
    background-repeat: no-repeat;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(3) td:nth-child(1), .DialogueInTransaction .Opponents table tr:nth-child(3) td:nth-child(1){
    background-color: transparent;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(3) td:nth-child(2), .DialogueInTransaction .Opponents table tr:nth-child(3) td:nth-child(2){
    background-color: transparent;
    background-image: url("../../images/Dialog1-4.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents table tr:nth-child(3) td:nth-child(4), .DialogueInTransaction .Opponents table tr:nth-child(3) td:nth-child(4){
    background-color: transparent;
    background-image: url("../../images/Dialog1-5.png");
    background-size: 100%;
    padding: 5px;
}

.SpeakWithOthersPage .Opponents.Dialog.Service table tr:nth-child(1) td:nth-child(2), .DialogueInTransaction .Opponents.Dialog.Service table tr:nth-child(1) td:nth-child(2){
    background-color: transparent;
    background-image: url("../../images/Dialog3-2.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents.Dialog.Service table tr:nth-child(1) td:nth-child(4), .DialogueInTransaction .Opponents.Dialog.Service table tr:nth-child(1) td:nth-child(4){
    background-color: transparent;
    background-image: url("../../images/Dialog3-3.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents.Dialog.Service table tr:nth-child(2) td:nth-child(1), .DialogueInTransaction .Opponents.Dialog.Service table tr:nth-child(2) td:nth-child(1){
    background-color: transparent;
    background-image: url("../../images/Dialog3-1.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents.Dialog.Service table tr:nth-child(3) td:nth-child(2), .DialogueInTransaction .Opponents.Dialog.Service table tr:nth-child(3) td:nth-child(2){
    background-color: transparent;
    background-image: url("../../images/Dialog3-4.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakWithOthersPage .Opponents.Dialog.Service table tr:nth-child(3) td:nth-child(4), .DialogueInTransaction .Opponents.Dialog.Service table tr:nth-child(3) td:nth-child(4){
    background-color: transparent;
    background-image: url("../../images/Dialog3-5.png");
    background-size: 100%;
    padding: 5px;
}
.SpeakOrderNumber{
    padding: 0px 0px 5px;
    text-align: center;
    color: var(--sub-word-color);
}

.heightMax66{
    max-height: 66vh;
}

/*------------聊天------------*/
.myPhotoArea .wrapper{
    padding-top: 5rem;
}
.myPhotoArea .wrapper .vue-cropper{
    height: calc(93vh - 5rem);
    width: 100vw;
}
.myPhotoArea .operationalAction button{
    width: 50%;
    border: none;
    line-height: 6vh;
    height: 7vh;
    padding: 0;
}
.myPhotoArea .operationalAction button:nth-child(1){
    background: #366498;
}
.myPhotoArea .operationalAction button:nth-child(2){
    background: rgba(151, 180, 255, 0.55);
}

/*------------實名認證------------*/
.RealName .dateSelect{
    display: flex;
}
.dateSelect.el-date-editor.el-input, .dateSelect.el-date-editor.el-input__inner{
    width: 100%;
}
.mypage .fileUpload .file-upload-form.bill{
    background-image: url('../../images/icon-upload-bill.svg');
}
.mypage .fileUpload .file-upload-form.passport{
    background-image: url('../../images/icon-upload-passport.svg');
}
.mypage .fileUpload .file-upload-form.headphoto{
    background-image: url('../../images/icon-upload-headphoto.svg');
}
.RealName .checkTable{
    margin-top: 20px;
}
.RealName .checkTable tr td:nth-child(1){
    padding: 3px 13px 3px 0;
}
.RealName .checkImage{
    margin-top: 20px;
}
.RealName .checkImage ul li{
    float: left;
    width: 50%;
    padding: 0 10px 0 0;
}
.RealName .checkImage ul li:nth-child(2){
    padding: 0;
}
.RealName .checkImage ul li:nth-last-child(1){
    float: none;
}
.RealName .checkImage ul li:nth-child(3) label{
    padding-top: 16px;
}
.RealName .checkImage ul li img{
    width: 100%;
}
/*轉場-淡出效果*/
.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    transition: opacity 0.5s ease;
}
.fade-leave {}

.fade-leave-active {
    transition: opacity 0.5s ease;
    opacity: 0;
}
/*ˊ轉場-平滑效果*/
.list-item {
    display: inline-block;
    margin-left: 100vw;

}
.list-enter-active, .list-leave-active {
    transition: all 0.2s;
}
.list-enter, .list-leave-to
    /* .list-leave-active for below version 2.1.8 */ {
    opacity: 0;
    transform: translateX(-30px);
}


/*-----------購買配套合約------------*/
.BuyContract .form-check {
    background: rgba(48, 58, 91, 0.38);
    margin-bottom: 5px;
    padding: 15px 6.5vw 15px 20px;
}
.BuyContract .form-check img{
    height: 25px;
    margin-right: 7px;
    margin-left: 15px;
}
.BuyContract .form-check .form-check-label{
    font-size: 120%;
    width: 100%;
    line-height: 8vh;
}
.BuyContract .form-check .form-check-label .rightBox{
    float: right;
    font-size: 60%;
    color: rgba(255, 255, 255, 0.55);
}
.BuyContract .form-check .form-check-input {
    width: 18px;
    height: 18px;
}
.BuyContract .form-check input[type="radio"]{
display: none;
}
.BuyContract .form-check input[type="radio"] + label .Round{
    content: ' ';
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.21);
    border: 4px solid transparent;
    display: inline-block;
    border-radius: 100%;
    margin: 0px 0 -5px;
    transition: 0.2s;
}
.BuyContract .form-check input[type="radio"]:checked + label .Round{
    background: rgb(212, 130, 0);
    border: 4px solid rgb(255, 244, 220);
}
.BuyContract .projectDescription{
    height: calc(100vh - 170px);
    overflow-y: scroll;
}
.BuyContract .btn-group {
    width: 92vw;
    margin: 0 4vw;
    border-radius: 0;
}
.BuyContract .btn-group .btn-dark{
    background: transparent;
    border-color: transparent;
    padding: 0;
}
.BuyContract .btn-dark:not(:disabled):not(.disabled).active{
    background: transparent;
    border-color: transparent;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0);
}

.BuyContract .btn-group .btn-dark span{
    opacity: 0.51;
    transition: 0.2s;
}
.BuyContract .btn-group .btn-dark.active span{
    opacity: 1;
}
.BuyContract .btn-group .btn-dark::before{
    content: ' ';
    display: inline-block;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin-left: 16%;
}
.BuyContract .btn-group .btn-dark:nth-child(1)::before{
    background-image: url('../../images/time1-2.svg');
}
.BuyContract .btn-group .btn-dark:nth-child(2)::before{
    background-image: url('../../images/time2-2.svg');
}
.BuyContract .btn-group .btn-dark:nth-child(3)::before{
    background-image: url('../../images/time3-2.svg');
}
.BuyContract .btn-group .btn-dark.active:nth-child(1)::before{
    background-image: url('../../images/time1-1.svg');
}
.BuyContract .btn-group .btn-dark.active:nth-child(2)::before{
    background-image: url('../../images/time2-1.svg');
}
.BuyContract .btn-group .btn-dark.active:nth-child(3)::before{
    background-image: url('../../images/time3-1.svg');
}
.BuyContract .peopleRaised {

}
.BuyContract table.peopleRaised tr td{
    line-height: 20px;
    padding: 20px 0 10px;
}
.BuyContract table.peopleRaised tr td img{
    height: 15px;
}

.modal .pickerData .el-date-editor.el-input{
    width: 45%;
}
.modal .pickerData .line{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal .modal-body{
    padding: 16px 8vw 25px;
}
/*-----------我的合約------------*/
.MyContract .el-tabs__content .textBox{
    background: rgba(48, 58, 91, 0.6);
    padding: 15px 20px;
    height: 31vh;
    overflow-y: auto;
    border-radius: 6px;
    font-size: 90%;
}
.MyContract .el-tabs__content .EnabledItem .buttonList{
width: 88px;
    text-align: right;
}
.MyContract .el-tabs__content .EnabledItem .buttonList .btn{
    padding: 0 5px;
    font-size: 90%;
}
.MyContract .el-tabs__content .EnabledItem .buttonList .btn:nth-child(1){
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.MyContract .el-tabs__content .EnabledItem .buttonList .btn:nth-child(2){
    color: #FFE54F;
    border: 1px solid #FFE54F;
    margin-left: 8px;
}
.MyContract .el-tabs__content .EnabledItem table tr td{
    line-height: 35px;
    padding-bottom: 18px;
}
.MyContract .el-tabs__content .EnabledItem table tr td:nth-child(1){
    width: 62px;
}
.MyContract .el-tabs__content .EnabledItem .titleBox {
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}
.MyContract .historicalRecord ul li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 0 0 10px;
    margin-bottom: 10px;
}
.MyContract .text-right.Organizational a img {
    height: 20px;
    margin-right: 5px;
}
.MyContract .text-right.Organizational{
    line-height: 25px;
    height: 25px;
}
.MyContract .text-right.Organizational table{
    float: right;
}
.MyContract .text-right.Organizational a{
    color: var(--main-btn-color);
}
.ContractDetails table td{
    font-size: 90%;
}
.ContractDetails table .type{
    padding: 5px 10px;
    margin-right: 8px;
}
.ContractDetails table .divided{
    background: #000725;
}
.ContractDetails table .time, .ContractDetails .leftBoxText{
    opacity: 0.6;
    line-height: 30px;
}
.ContractDetails table .feedback{
    background: #4c547b;
}
div#modalContract___BV_modal_content_{
    position: absolute;
    top: 6vh;
}
#modalContract .modal-body{
    /*padding: 2rem 5vw;*/
}
#modalContract .el-date-editor--daterange.el-input__inner{
    width: 100%;
}
#modalContract .el-date-editor .el-range-separator{
    width: 20px;
    text-align: center;
}
/*--------------組織圖--------------*/
.organizationPage table.outBigTable td.leftLine{
    background-image: url("../../images/line3.svg");
    background-position: top;
    background-repeat: no-repeat;
    width: 20px;
}
.organizationPage table.outBigTable td.straightline{
    background-image: url("../../images/line1.svg");
    background-position: right;
    background-repeat: repeat-y;
    width: 37px;
    background-size: 70%;
}
.organizationPage table.outBigTable tr.layer1:last-child td.straightline.layer1straight, .organizationPage table.littleTable.layer2 tr:last-child td.straightline{
    background-image: url("../../images/line2.svg");
    background-position: right top;
    background-repeat: no-repeat;
    background-size:  50% auto ;
}

.organizationPage .linkToUser {
    border: 1px solid var(--sub-word-color);
    border-radius: 10px;
    padding: 6px 4vw;
    line-height: 18px;
    display: inline-block;
}
.organizationPage table .linkToUser .span.name{
    font-size: 0.95rem;
}
.organizationPage table .linkToUser .phone{
    font-size: 83%;
}
.organizationPage table .linkToUser .layer{
    font-size: 70%;
    color: #ababab;
    margin-left: 5px;
}
.organizationPage .outBigTable .noLayer2{
    color: transparent;
    font-size: 8px;
}
.organizationPage table.littleTable.layer2{
    margin-left: 18px;
}
.organizationPage table.littleTable.layer2 .linkToUser{
    margin-bottom: 16px;
}
.organizationPage .currentlyViewing {
    display: flex;
}
.organizationPage .currentlyViewing .topBox{
    border: 1px solid var(--sub-word-color);
    padding: 6px 6vw;
    border-radius: 10px;
    color: var(--sub-word-color);
}
.organizationPage .currentlyViewing .topBox img, .organizationPage .outBigTable img{
    height: 14px;
    margin-bottom: 2px;
    margin-left: 5px;
}
.organizationPage .currentlyViewing .Recommendation{
    padding-left: 16px;
    color:var(--sub-word-color) ;
    padding-top: 5px;
}
.organizationPage .currentlyViewing .btn-danger{
    background-color: var(--sub-word-color);
    font-size: 70%;
    border-color: var(--sub-word-color);
    padding: 2px 15px;
    margin-top: 5px;
}

.organizationPage .chart {
    padding-left: 2rem;
}
.organizationPage.Operators {
    padding-top: 5rem;
}
.organizationPage.Operators table .linkToUser .phone{
    margin: 0;
}

/*--------------我的目標--------------*/
.MyGoal{
    height: calc(100vh - 84px);
    overflow-y: auto;
    padding: 0 1.5rem 2rem;
    width: 100vw;
}
.MyGoal .DoughnutImg {
    margin-bottom: -220px;
}
.MyGoal .TargetPerformance{
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.MyGoal .TargetPerformance h1{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.MyGoal .columns {
    display: table;
    margin: 0 auto 2vh;
}
.MyGoal div#timer table{
    text-align: center;
    margin-bottom: 30px;
}
.MyGoal div#timer .littleBox{
    background: -moz-linear-gradient(left, rgba(48,58,91,0.42) 0%, rgba(33,40,61,0.42) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48,58,91,0.42) 0%,rgba(33,40,61,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(48,58,91,0.42) 0%,rgba(33,40,61,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b303a5b', endColorstr='#6b21283d',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.62);
    border-radius: 8px;
    margin-bottom: 5px;
}
.MyGoal div#timer table tr:nth-child(1) td{
    line-height: 50px;
    font-size: 26px;
}

.MyGoal div#timer .timeTd{
    width: 50px;
}
.MyGoal div#timer table tr:nth-child(2) td{
    font-size: 13px;
}
.MyGoal .itemList li, .MyPerformance{
    background: linear-gradient(to right, rgba(70, 85, 136, 0.36) 0%,rgba(54, 64, 95, 0.36) 100%);
    border-radius: 8px;
}
.MyGoal .itemList li{
    margin-bottom: 5px;
    padding: 3vw 1vw 3vw 4vw;
}
.MyGoal .itemList li tr td:nth-child(1){
    width: 49vw;
}
.MyGoal .itemList li tr td:nth-child(3){
    width: 53px;
}
.MyGoal .MyPerformance td img{
    width: 1px;
}
.MyPerformance{
    padding: 3vw 4vw 2vw;
    text-align: center;
}
