<template>
  <div id="app-layout" :class="[isScan ? active : '']">
    <!--<transition name="list" mode="out-in">-->
      <router-view></router-view>
    <!--</transition>-->

  </div>
</template>

<style>

</style>

<script>
    export default {
        components: {

        },
    }
</script>
